@media (max-width: 500px) {
    body {
        display: grid;
        grid-template-areas: 
        "header header"
        "aside aside"
        "main main"
        "footer footer";
    }

    header {
        grid-area: header;
    }

    header > h1 {
        display: block;
    }

    aside {
        grid-area: aside;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}