.wrapper {
    width: 400px;
    background-color: #dddddd;
    border: 1px solid #000000;
    margin-left: 20px;
    padding: 10px;
}

#heading {
    text-align: center;
}

.para {
    font-size: 18px;
}