body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    width: 1200px;
    background-color: whitesmoke;
}

.leftside {
    flex-basis: 30%;
    padding-top: 20px;
    padding-left: 20px;
}

.rightside {
    background-image: url("images/img.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 45%;
}

.top {
    font-weight: bold;
    font-size: 14px;
}

h2 {
    font-weight: normal;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 40px;
}

.leftside > p {
    color: gray;
    line-height: 1.5;
}

.sales {
    background-color: blueviolet;
    color: white;
    border-style: none;
    padding: 12px;
    width: 150px;
    margin-right: 10px;
    border-radius: 2px;
}

.learn {
    background-color: white;
    border: 1px solid black;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
    padding: 12px;
    width: 130px;
    border-radius: 2px;
}